mat-card {
  /*comprimento*/
  width: 60%;
  /*altura*/
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5rem;
  margin-top: 2rem;
}

mat-form-field {
  width: 100%;
}

.input-box {
  /*comprimento dos inputs*/
  width: 600px;
}

.btn-box {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button {
  width: 60%;
}

.title {
  text-align: center;
  padding: 2rem;
}
